<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue App - made by Vitor</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="http://davidtkatz.com/public_css/vue.css">
</head>

<body>
    <div id="app">
        <ul>
            <li v-for="color in colors" v-if="color.primary">{{color.text}}</li>
        </ul>
    </div>  


    <script>
        var app = new Vue({
            el: "#app",
            data: {
                colors: [
                    {
                        text: 'Blue',
                        primary: true
                    },
                    {
                        text: 'Green',
                        primary: true
                    },
                    {
                        text: 'Yellow',
                        primary: false
                    },
                    {
                        text: 'Red',
                        primary: true
                    },
                    {
                        text: 'Black',
                        primary: false
                    },
                    {
                        text: 'Purple',
                        primary: false
                    }
                    ]
            }
        });
    </script>


</body>

</html>